@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'bulma/css/bulma.css';

:root {
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}